body {
	background-image：URL（"wzbz.png")
}h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
	text-indent: 32px;
	font-size: 16px;
}
h4 {
	text-indent: 32px;
	font-size: 16px;
}
p {
	text-indent: 32px;
	font-size: 16px;
}
