h1 {
  text-align: center;
  color:black

}
h2 {
  text-align: center;
  color:black
}
h3 {
  text-align: center;
  color:black
}
h4 {
  text-align: center;
  color:black
}
a {
  text-align: center;
  color:black
}
p {
  text-align: center;
  color:black
}
