body {
  background:url("bizhi.jpg")
}
h1 {
  text-align: center;
  color:yellow
}
h2 {
  text-align: center;
  color:yellow
}
h4 {
  text-align: center;
  color:yellow
}
a {
  text-align: center;
  color:yellow
}
p {
  text-align: center;
  color:yellow
}
