h1 {
  text-align: center;
  color:#191970

}
h2 {
  text-align: center;
  color:#191970
}
h3 {
  text-align: center;
  color:#191970
}
h4 {
  text-align: center;
  color:#191970
}
a {
  text-align: center;
  color:#191970
}
p {
  text-align: center;
  color:#191970
}
